@model UserDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://kit.fontawesome.com/5c6e471417.js" crossorigin="anonymous"></script>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <main role="main">
        <div class="profile">
            <div class="container-fluid">
                <div class="row py-4">
                    <div class="col-md-3 col-12 left">
                        <div class="wrapper p-4">
                            <div class="info d-flex align-items-center mb-md-3">

                                <div>
                                    <img src="~/User/img/Logo/avt.png" style="height: 50px; width: 50px; " />
                                </div>

                                <div style="margin-left: 5px;">
                                    <h5 class="fw-bold">@Model.users.Username</h5>
                                    <small>@Model.Email</small>
                                </div>
                                <span id="toggle-profile-menu" class="d-lg-none"></span>
                            </div>
                            <nav class="profile-links py-3">
                                <ul id="accordion" class="accordion">
                                    <li>
                                        <div class="link"><i class="fa fa-database"></i> Tài khoản <i class="fa fa-chevron-down"></i></div>
                                        <ul class="submenu">
                                            <li>
                                                <a href="#">Tài khoản</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Profile","Account")">Thông tin tài khoản</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ChangePassword","Account")">Đổi mật khẩu</a>
                                            </li>
                                            <li>
                                                <a href="#">Ví</a>
                                            </li>
                                            <li>
                                                <a href="#">Đăng xuất</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><i class="fa fa-code"></i> Lịch sử <i class="fa fa-chevron-down"></i></div>
                                        <ul class="submenu">
                                            <li><a href="#">Phiếu đặt tour</a></li>
                                            <li class="tour_booked"><a href="@Url.Action("TourBooked","Account")">Tour đã hoàn thành</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><i class="fa fa-mobile"></i> Yêu thích <i class="fa fa-chevron-down"></i></div>
                                        <ul class="submenu">
                                            <li><a href="#">Các tour yêu thích</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><i class="fa fa-globe"></i> Giảm giá <i class="fa fa-chevron-down"></i></div>
                                        <ul class="submenu">
                                            <li><a href="#">Danh sách mã giảm</a></li>
                                            <li><a href="#">Nhập mã giảm</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </nav>
                        </div>
                    </div>

                    <div class=" class_render_body col-md-9 col-12 right ps-md-4">
                        <div class="wrapper p-md-4">
                            @RenderBody()
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
}
<div>
</div>


<script>
    // Lấy tất cả các phần tử HTML của button chỉnh sửa và form chỉnh sửa
    var editButtons = document.querySelectorAll('.toggle-edit-form');
    var editForms = document.querySelectorAll('.edit-form');
    var editing = false;

    // Lắng nghe sự kiện click cho mỗi button chỉnh sửa
    editButtons.forEach(function (editButton, index) {
        // Lắng nghe sự kiện click vào button chỉnh sửa
        editButton.addEventListener('click', function () {
            var editForm = editForms[index];
            if (!editing) {
                // Thêm lớp active cho form chỉnh sửa để hiển thị
                editForm.classList.add('active');
                // Đổi nội dung của button thành "Hủy"
                editButton.textContent = 'Hủy';
                editing = true;
            } else {
                // Xóa lớp active khỏi form chỉnh sửa để ẩn đi
                editForm.classList.remove('active');
                // Đổi nội dung của button thành "Chỉnh sửa"
                editButton.textContent = 'Chỉnh sửa';
                editing = false;
            }
        });
    });
</script>
