@model HKQTravelling.Models.Tours
@{
    ViewData["Title"] = "AddTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddTour", "Tour", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h1>AddTour</h1>

    <h4>Tours</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddTour">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TourName" class="control-label"></label>
                    <input asp-for="TourName" class="form-control" />
                    <span asp-validation-for="TourName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input type="date" asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input type="date" asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateDate" class="control-label"></label>
                    <input asp-for="UpdateDate" class="form-control" />
                    <span asp-validation-for="UpdateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Remaining" class="control-label"></label>
                    <input asp-for="Remaining" class="form-control" />
                    <span asp-validation-for="Remaining" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiscountId" class="control-label"></label>
                    <div class="cold-md-10">
                        @Html.DropDownListFor(model => model.DiscountId, ViewBag.DisId as SelectList)
                    </div>
                    
                </div>
                <div class="form-group">
                    <label asp-for="StartLocationId" class="control-label"></label>
                    <div class="cold-md-10">
                        @Html.DropDownListFor(model => model.StartLocationId,ViewBag.StartLocationId as SelectList)
                    </div>
                    @*  <select asp-for="StartLocationId" class ="form-control" asp-items="ViewBag.StartLocationId"></select>
                *@
                </div>
                <div class="form-group">
                    <label asp-for="EndLocationId" class="control-label"></label>
                    <div class="cold-md-10">
                        @Html.DropDownListFor(model => model.EndLocationId, ViewBag.EndLocationId as SelectList)
                    </div>
                    @*  <select asp-for="EndLocationId" class ="form-control" asp-items="ViewBag.EndLocationId"></select>
                *@
                </div>
                <div class="form-group">
                    <label asp-for="RuleId" class="control-label"></label>
                    <div class="col-md-10">
                        <input type="file" name="fileBase"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RuleId" class="control-label"></label>
                    <div class="cold-md-10">
                        @Html.DropDownListFor(model => model.RuleId, ViewBag.RuleId as SelectList)
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}